<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.book.mapper.AcctBookRecExpTypeMapper">

    <resultMap id="BaseResultMap" type="com.account.book.dataobject.AcctBookRecExpTypeDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
            <result property="isRemoved" column="is_removed" jdbcType="TINYINT"/>
            <result property="kindId" column="kind_id" jdbcType="VARCHAR"/>
            <result property="kindName" column="kind_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="groupId" column="group_id" jdbcType="VARCHAR"/>
            <result property="extensions" column="extensions" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,
        creator,modifier,is_removed,
        kind_id,kind_name,type,
        group_id,extensions
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from acct_book_rec_exp_type
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from acct_book_rec_exp_type
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.account.book.dataobject.AcctBookRecExpTypeDO" useGeneratedKeys="true">
        insert into acct_book_rec_exp_type
        ( id,gmt_create,gmt_modified
        ,creator,modifier,is_removed
        ,kind_id,kind_name,type
        ,group_id,extensions)
        values (#{id,jdbcType=BIGINT},#{gmtCreate,jdbcType=TIMESTAMP},#{gmtModified,jdbcType=TIMESTAMP}
        ,#{creator,jdbcType=VARCHAR},#{modifier,jdbcType=VARCHAR},#{isRemoved,jdbcType=TINYINT}
        ,#{kindId,jdbcType=VARCHAR},#{kindName,jdbcType=VARCHAR},#{type,jdbcType=TINYINT}
        ,#{groupId,jdbcType=VARCHAR},#{extensions,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.account.book.dataobject.AcctBookRecExpTypeDO" useGeneratedKeys="true">
        insert into acct_book_rec_exp_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="gmtCreate != null">gmt_create,</if>
                <if test="gmtModified != null">gmt_modified,</if>
                <if test="creator != null">creator,</if>
                <if test="modifier != null">modifier,</if>
                <if test="isRemoved != null">is_removed,</if>
                <if test="kindId != null">kind_id,</if>
                <if test="kindName != null">kind_name,</if>
                <if test="type != null">type,</if>
                <if test="groupId != null">group_id,</if>
                <if test="extensions != null">extensions,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="gmtCreate != null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
                <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
                <if test="creator != null">#{creator,jdbcType=VARCHAR},</if>
                <if test="modifier != null">#{modifier,jdbcType=VARCHAR},</if>
                <if test="isRemoved != null">#{isRemoved,jdbcType=TINYINT},</if>
                <if test="kindId != null">#{kindId,jdbcType=VARCHAR},</if>
                <if test="kindName != null">#{kindName,jdbcType=VARCHAR},</if>
                <if test="type != null">#{type,jdbcType=TINYINT},</if>
                <if test="groupId != null">#{groupId,jdbcType=VARCHAR},</if>
                <if test="extensions != null">#{extensions,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.account.book.dataobject.AcctBookRecExpTypeDO">
        update acct_book_rec_exp_type
        <set>
                <if test="gmtCreate != null">
                    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
                </if>
                <if test="gmtModified != null">
                    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
                </if>
                <if test="creator != null">
                    creator = #{creator,jdbcType=VARCHAR},
                </if>
                <if test="modifier != null">
                    modifier = #{modifier,jdbcType=VARCHAR},
                </if>
                <if test="isRemoved != null">
                    is_removed = #{isRemoved,jdbcType=TINYINT},
                </if>
                <if test="kindId != null">
                    kind_id = #{kindId,jdbcType=VARCHAR},
                </if>
                <if test="kindName != null">
                    kind_name = #{kindName,jdbcType=VARCHAR},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=TINYINT},
                </if>
                <if test="groupId != null">
                    group_id = #{groupId,jdbcType=VARCHAR},
                </if>
                <if test="extensions != null">
                    extensions = #{extensions,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.account.book.dataobject.AcctBookRecExpTypeDO">
        update acct_book_rec_exp_type
        set 
            gmt_create =  #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified =  #{gmtModified,jdbcType=TIMESTAMP},
            creator =  #{creator,jdbcType=VARCHAR},
            modifier =  #{modifier,jdbcType=VARCHAR},
            is_removed =  #{isRemoved,jdbcType=TINYINT},
            kind_id =  #{kindId,jdbcType=VARCHAR},
            kind_name =  #{kindName,jdbcType=VARCHAR},
            type =  #{type,jdbcType=TINYINT},
            group_id =  #{groupId,jdbcType=VARCHAR},
            extensions =  #{extensions,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
