<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.book.entity.mapper.AcctBookRoleDOMapper">

    <resultMap id="BaseResultMap" type="com.account.book.dataobject.AcctBookRoleDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
            <result property="isRemoved" column="is_removed" jdbcType="TINYINT"/>
            <result property="roleType" column="role_type" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="extensions" column="extensions" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,
        creator,modifier,is_removed,
        role_type,role_name,role_id,
        extensions
    </sql>
</mapper>
